#inicio {
    background-image: url(/imagenes/bannerImage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 35rem;
    top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -0.5rem;
}

#inicio h1{
    font-size: 10rem;
    margin-bottom: 0;
    font-style: italic;
    color: #ffffff;
}

#inicio h2 {
    font-size: 5rem;
    margin-left: 15rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
}

#inicio p {
    font-size: 2rem;
    margin-top: 0;
    color: #ffffff;
}