.categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f3dbb2;
    width: 100vw;
    height: 100%;
    margin-left: -0.5rem;
    margin-top: -1rem;
    padding-top: 3.5rem;
}

.tituloCategoria {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbafa5;
    font-size: 3rem;
    color: #ffffff;
    width: 100vw;
    height: 5rem;
    margin: 0;
    margin-left: -0.5rem;
}
.productos {
    background-color: #a5aa93;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    overflow: hidden;
    width: 30rem;
    height: 50rem;
    margin: 5rem;
    gap: 2rem;
}

.imagenProducto {
    box-sizing: border-box;
    width: 30rem;
    height: 30rem;
    padding: 2.5rem;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
}

img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.elementosProductos {
    list-style: none;
    
    padding-right: 2rem;
    line-height: 1rem;
}

.elementosProductos h4{
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 0;
}

.elementosProductos p{
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 2rem;
}

@media screen and (max-width: 480px){
    .tituloCategoria{
        margin-left: 0;
    }
     .tituloCategoria h1 {
        font-size: 2rem;
    }
    .productos {
        width: 25rem;
        height: 35rem;
        gap: 0;
    }
    .imagenProducto {
        width: 20rem;
        height: 20rem;
        border-top-left-radius: 25rem;
        border-top-right-radius: 25rem;
    }
    .elementosProductos{
        margin-bottom: 2rem;
    }
    .elementosProductos h4{
        font-size: 1.5rem;
    }
    .elementosProductos p{
        font-size: 0.8rem;
        line-height: 1rem;
    }
}