#contacto {
    background-color: #c3c8b1;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
    position: static;
}

#contacto img{
    border-radius: 20rem;
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}