nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    list-style: none;
    background-color: #c3c8b1;
    margin-left: -0.5rem;
    
}

.inicioSesion {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 2rem;
}

.menu {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.enlaceMenu {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    font-style: normal;
}

.enlaceMenu:hover{
    color: #000000;
}

#botonIniciarSesion {
    width: 8rem;
    height: 1.5rem;
    background-color: #f0ceb5;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

#logoHumtit {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

#usuario {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}


